[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = git@github.com:skypjack/entt.git
[submodule "3rdparty/simplesound"]
	path = 3rdparty/simplesound
	url = git@github.com:docsunset/simplesound
[submodule "3rdparty/artery-font-format"]
	path = 3rdparty/artery-font-format
	url = git@github.com:Chlumsky/artery-font-format.git
